body {
	width:800px;
	margin:0;
	margin-left:auto;
	margin-right:auto;
	font-family:Arial;
}
	ul#navbar {
		background-color:#eee;
		background: #7d7d7d url(../images/gradient.png) repeat-x 0 -30px;
		list-style:none;
		font-weight:bold;
		margin-left:0px;
		padding:0px;
		padding-top:0;
	}

		ul#navbar li {
			display:inline-block;
			background-color:#ddd;
			background: #666 url(../images/gradient.png) repeat-x 0 -5px;
			border:solid 1px #bbb;
			border:solid 1px #bbb;
			border-top:none;
			padding:10px;
			margin-left:-5px;
		}

			ul#navbar li:hover {
				background: #888 url(../images/gradient.png) repeat-x 0 -0px;
			}

			ul#navbar li:first-child {
				margin-left:0px;
			}

			ul#navbar li a {
				text-decoration:none;
				text-shadow: 1px 1px 0 #fff;
				text-align:center;
				color:#777;
			}

				ul#navbar li a:hover{
					color:#000;
				}

	#random-science {
		text-align:center;
		color:#4183C4;
		font:bold 40px Arial;
	}
	
	#right-panel {
		width:300px;
		float:right;
	}
	
	#left-panel{
		width:500px;
		float:left;
	}